# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: grafana-helm-values
  namespace: monitoring
type: Opaque
stringData:
  values.yaml: |
    adminPassword: "$GRAFANA_PASSWORD"
    grafana.ini:
      auth.ldap:
        enabled: true
        allow_sign_up: true
        config_file: /etc/grafana/ldap.toml
