# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: hajimari-internal-helm-values
  namespace: default
type: Opaque
stringData:
  values.yaml: |
    hajimari:
      customApps: 
        - name: "Monica"
          url: "https://monica.${CLUSTER_DOMAIN}"
          icon: "card-account-phone"
