# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: kured-helm-values
  namespace: kube-system
type: Opaque
stringData:
  values.yaml: |
    configuration:
      notifyUrl: "$DISCORD_KURED_WEBHOOK_URL"