# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: minio-helm-values
  namespace: default
type: Opaque
stringData:
  values.yaml: |
    accessKey: "${MINIO_ACCESS_KEY}"
    secretKey: "${MINIO_SECRET_KEY}"
