# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: monica-helm-values
  namespace: default
type: Opaque
stringData:
  values.yaml: |
    env:
      APP_KEY: $MONICA_APP_KEY
      DB_PASSWORD: $MONICA_DB_PASSWORD
    mariadb:
      auth:
        password: $MONICA_DB_PASSWORD
        rootPassword: $MONICA_DB_ROOTPASSWORD
