# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: registry-creds-secret
  namespace: kube-system
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ${DOCKERHUB_SECRETS_STRING}
