# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: route53-env
  namespace: kube-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: AKIAJBNZNM4ASS2TFJEQ
  AWS_SECRET_ACCESS_KEY: ${ROUTE53_KEY}
  RECORDSET: ${ROUTE53_DDNS_DOMAIN}
  ZONEID: ${ROUTE53_ZONEID}
