apiVersion: v1
kind: Secret
metadata:
  name: authentik-secrets
  namespace: kube-system
type: Opaque
stringData:
  email-username: ${AUTHELIA_SMTP_USERNAME}
  email-password: ${AUTHELIA_SMTP_PASSWORD}
  secret-key: ${AUTHENTIK_SECRET_KEY}
  s3-access-key: ${MINIO_ACCESS_KEY}
  s3-bucket: ${AUTHENTIK_S3_BUCKET}
  s3-host: minio.default.svc:9000
  redis-password: ${AUTHENTIK_REDIS_PASSWORD}