apiVersion: v1
kind: Secret
metadata:
  name: redis-authentik-helm-values
  namespace: kube-system
type: Opaque
stringData:
  values.yaml: |
    podTemplate:
      spec:
        args:
          - "--requirepass ${AUTHENTIK_REDIS_PASSWORD}"
          - '--masterauth ${AUTHENTIK_REDIS_PASSWORD}'