---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: grafana
      version: 6.46.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    adminPassword: ${SECRET_GRAFANA_ADMIN_PASSWORD}
    deploymentStrategy:
      type: Recreate
    podAnnotations:
#       backup.velero.io/backup-volumes: storage
#       configmap.reloader.stakater.com/reload: "grafana"
    persistence:
      enabled: true
      storageClassName: rook-ceph-block
      size: 10Gi
      accessModes:
      - ReadWriteOnce
    env:
      GF_EXPLORE_ENABLED: true
      GF_DISABLE_SANITIZE_HTML: true
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_LOG_FILTERS: rendering:debug
    ldap:
      enabled: true
      config: |-
        [[servers]]
        host = "openldap.kube-system.svc"
        port = 1389
        use_ssl = false
        start_tls = false
        ssl_skip_verify = true
        bind_dn = "cn=${SECRET_LDAP_ADMIN_USERNAME},${SECRET_LDAP_BASE_DN}"
        bind_password = "${SECRET_LDAP_ADMIN_PASSWORD}"
        search_filter = "(cn=%s)"
        search_base_dns = ["ou=users,${SECRET_LDAP_BASE_DN}"]
        [servers.attributes]
        name = "givenName"
        surname = "sn"
        username = "uid"
        member_of = "memberOf"
        email =  "mail"
    ingress:
      enabled: true
      ingressClassName: nginx-internal
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: "chart-areaspline"
        hajimari.io/instance: "internal"
        hajimari.io/appName: "Grafana"
        hajimari.io/group: "Cluster Ops"
      hosts: ["grafana.k.${SECRET_DOMAIN}"]
      tls:
      - hosts:
        - "grafana.k.${SECRET_DOMAIN}"
        secretName: grafana-cert
    plugins:
    - natel-discrete-panel
    - pr0ps-trackmap-panel
    - grafana-piechart-panel
    - grafana-clock-panel
    - vonage-status-panel
    - grafana-worldmap-panel
    serviceMonitor:
      enabled: true
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          allowUiUpdates: true
          options:
            path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        1-node-exporter:
          url: https://grafana.com/api/dashboards/11074/revisions/9/download
          datasource: Prometheus
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2/main/manifests/monitoring/grafana/dashboards/control-plane.json
          datasource: Prometheus
        nginx-dashboard:
          url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/grafana/dashboards/nginx.json
          datasource: Prometheus
        node-exporter-full:
          gnetId: 1860
          revision: 23
          datasource: Prometheus
        prometheus-exporter-summary:
          url: https://raw.githubusercontent.com/billimek/k8s-gitops/master/monitoring/grafana/dashboards/prometheus_exporter_summary.json
          datasource: Prometheus
        pihole-dashboard:
          url: https://raw.githubusercontent.com/eko/pihole-exporter/master/grafana/dashboard.json
          datasource: Prometheus
        thanos-dashboard:
          url: https://grafana.com/api/dashboards/12937/revisions/1/download
          datasource: Prometheus
    sidecar:
      datasources:
        enabled: true
        searchNamespace: ALL
        # defaultDatasourceEnabled: false
      dashboards:
        enabled: true
        searchNamespace: ALL
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://thanos-query-http:10902/
          isDefault: true
    grafana.ini:
      server:
        root_url: "https://grafana.k.${SECRET_DOMAIN}"
      auth.ldap:
        enabled: true
        allow_sign_up: true
        config_file: /etc/grafana/ldap.toml
      paths:
        data: /var/lib/grafana/data
        logs: /var/log/grafana
        plugins: /var/lib/grafana/plugins
        provisioning: /etc/grafana/provisioning
      analytics:
        check_for_updates: false
      log:
        mode: console
      grafana_net:
        url: https://grafana.net
      auth.basic:
        disable_login_form: false
