apiVersion: v1
kind: Secret
metadata:
  name: authelia-secret
  namespace: kube-system
type: Opaque
stringData:
  JWT_TOKEN: ${AUTHELIA_JWT_TOKEN}
  LDAP_PASSWORD: ${LDAP_ADMIN_PASSWORD}
  REDIS_PASSWORD: ${AUTHELIA_REDIS_PASSWORD}
  SESSION_ENCRYPTION_KEY:  ${AUTHELIA_SESSION_ENCRYPTION_KEY}
  SMTP_PASSWORD: ${AUTHELIA_SMTP_PASSWORD}
  STORAGE_PASSWORD: ${AUTHELIA_POSTGRES_AUTHELIA_PASSWORD}
  DUO_API_KEY: ""