apiVersion: v1
kind: Secret
metadata:
  name: thanos-helm-values
  namespace: monitoring
type: Opaque
stringData:
  values.yaml: |
    objstore:
      config:
        access_key: "${MINIO_ACCESS_KEY}"
        secret_key: "${MINIO_SECRET_KEY}"
