apiVersion: v1
kind: Secret
metadata:
  name: pihole-helm-values
  namespace: default
type: Opaque
stringData:
  values.yaml: |
    dnsmasq:
      additionalHostsEntries:
        - 192.168.0.42 pihole.internal.domain