apiVersion: v1
kind: Secret
metadata:
  name: botkube-helm-values
  namespace: monitoring
type: Opaque
stringData:
  values.yaml: |
    communications:
      discord:
        enabled: true
        token: '$BOTKUBE_DISCORD_TOKEN'
        botid: '814178030146682881'
        channel: '814174352828006400'
        notiftype: short
