---
name: "Send PRs via git send-email"

on:
  pull_request:
    branches:
      - master

jobs:
  components:
    runs-on: ubuntu-latest
    steps: 
      - name: Check Out Code
        uses: actions/checkout@v3

      - name: Setup Alpine
        uses: jirutka/setup-alpine@v1
        with:
          packages: >
            git
            git-email

      - name: Send Patch
        env:
          GITOPS_EMAIL: ${{ secrets.GITOPS_EMAIL }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
          SMTP_USER: ${{ secrets.SMTP_USER }}
          SMTP_PASS: ${{ secrets.SMTP_PASS }}
        run: |
          echo ${GITOPS_EMAIL}
          git send-email \
            --no-thread \
            --quiet \
            --confirm=never \
            --suppress-cc=all \
            --to="${GITOPS_EMAIL}" \
            --from="${SMTP_USER}" \
            --smtp-server="${SMTP_SERVER}" \
            --smtp-server-port=587 \
            --smtp-auth="tls" \
            --smtp-user="${SMTP_USER}" \
            --smtp-pass="${SMTP_PASS}" \
            HEAD^
        shell: alpine.sh {0}