name: renovate

on:
  workflow_dispatch:
  schedule:
  - cron: '0 */6 * * *'

jobs:
  helm-releases:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Install yq
      run: |
        sudo wget -O /usr/local/bin/yq https://github.com/mikefarah/yq/releases/download/v4.49.1/yq_linux_amd64
        sudo chmod +x /usr/local/bin/yq

    - name: Create pull request for HelmRelease annotations
      uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: helm-release-annotations
        title: "[renovate] create helmrelease annotations [ci-skip]"
        signoff: true
        committer: "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>"
        author: "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>"
        commit-message: Create renovatebot helmrelease annotations
        body: |
          Signed-off-by: Winston R. Milling <wrmilling@users.noreply.github.com>
        labels: renovate/helm-release-annotations
