name: renovate

on:
  workflow_dispatch:
  schedule:
  - cron: '0 */6 * * *'

jobs:
  helm-releases:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Install yq
      run: |
        sudo wget -O /usr/local/bin/yq https://github.com/mikefarah/yq/releases/download/v4.52.2/yq_linux_amd64
        sudo chmod +x /usr/local/bin/yq

    - name: Create pull request for HelmRelease annotations
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: helm-release-annotations
        title: "[renovate] create helmrelease annotations [ci-skip]"
        signoff: true
        committer: "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>"
        author: "${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>"
        commit-message: Create renovatebot helmrelease annotations
        body: |
          Signed-off-by: Winston R. Milling <wrmilling@users.noreply.github.com>
        labels: renovate/helm-release-annotations
